<?xml version="1.0"?>
<robot name="mobile_microbot" xmlns:xacro="http://ros.org/wiki/xacro"> 
    <xacro:include filename="$(find my_robot_description)/urdf/robot.urdf.xacro" /> 
    <xacro:include filename="$(find my_robot_description)/urdf/arm.urdf" /> 
    <joint name="arm_base_joint" type="fixed"> <parent link="base_link" /> 
        <child link="link0" />
        <origin xyz="0.072 0.0 0.0965" rpy="0 0 -1.5708" /> 
    </joint> 
</robot>